:root {
  --txt: #f5f5f5;
  --bg: #000;
  --accent: #00ff00;
}

html * {
  font-family: sans-serif;
  color: var(--txt);
}

body {
  background: var(--bg);
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome {
  background: url(code.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.overlay {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.9;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome h1 {
  color: green;
  position: absolute;
  z-index: 1;
  padding: 3%;
  border-radius: 60px;
  opacity: 1;
  z-index: 1;
  font-size: 400%;
}

.events-title {
  color: whitesmoke;
}

div #events {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  color: whitesmoke;
  margin: 0;
}

#tech-events,
#non-tech-events {
  width: 45%;
  border: 2px solid var(--accent);
  box-shadow: 0 0 5px var(--accent);
  border-left: none;
  border-right: none;
  border-radius: 10px;
  padding: 5%;
}

.event {
  line-height: 200%;
  transition: all 0.5s ease-in-out;
}

.event:hover {
  color: var(--accent);
}

.form-control {
  border: 2px solid var(--accent);
  background-color: var(--bg);
}

.form-control:focus {
  background-color: var(--bg);
  border: 1px solid var(--accent);
  box-shadow: 0 0 10px var(--accent);
}
@media screen and (max-width: 600px) {
  :root {
    --txt: whitesmoke;
    --bg: #000;
    --accent: #00ff00;
  }
  nav .nav-link {
    text-align: center;
  }

  .welcome h1 {
    font-size: 300%;
  }

  #events {
    border: none;
    flex-direction: column;
    gap: 20px;
    margin: 2%;
  }
  #tech-events,
  #non-tech-events {
    border-left: none;
    border-right: none;
    box-shadow: 0 0 5px var(--accent);
  }

  #tech-events {
    background-image: url(ai.jpg);
    background-color: none;
  }
  .event:hover {
    color: var(--txt);
  }
}
